share/xml-rpc-xsd/vmtype.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    targetNamespace="http://www.e-sciren.org/sub5/XMLSchema"
    xmlns="http://www.e-sciren.org/sub5/XMLSchema">
  <xs:element name="VMTYPE">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="xs:integer"/>
        <xs:element name="NAME" type="xs:string"/>
        <xs:element name="CPU" type="xs:integer"/>
        <xs:element name="MEMORY" type="xs:integer"/>
        <xs:element name="DESCRIPTION" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
